.stock {
  background-color: #f1f6ff;
  min-height: 152px;
  padding: 37.6px 50px 40px 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 1600px) {
    padding: 2.35vw 3.125vw 2.5vw 2.5vw;
    min-height: 9.5vw;
  }

  @media only screen and (max-width: 990px) {
    min-height: 22.9166666666666667vw;
    padding: 5.2083333333333333vw;
  }

  @media only screen and (max-width: 500px) {
    min-height: 35.7333333333333333vw;
    height: 35.7333333333333333vw;
  }

  h4 {
    font-family: 'Proxima Nova Ex';
    color: #2b1b35;
    font-weight: bold;
    font-size: 25px;

    @media only screen and (max-width: 1600px) {
      font-size: 1.5625vw;
    }

    @media only screen and (max-width: 990px) {
      font-size: 3.2552083333333333vw;
      line-height: 26px;
    }

    @media only screen and (max-width: 500px) {
      font-size: 4.8vw;
    }

  }

  p {
    padding-top: 20.8px;
    letter-spacing: -0.003vw;
    font-size: 16px;
    font-weight: 300;
    color: #2b1b35;

    @media only screen and (max-width: 1600px) {
      padding-top: 1.3vw;
      font-size: 1vw;
    }

    @media only screen and (max-width: 990px) {
      padding-top: 2.6041666666666667vw;
      font-size: 2.0833333333333333vw;
      line-height: 2.9947916666666667vw;
    }

    @media only screen and (max-width: 500px) {
      max-width: 58.6666666666666667vw;
      font-size: 3.7333333333333333vw;
      line-height: 5.594792vw;
    }
  }
  &__image {
    margin-top: 8px;
    width: 80px;
    height: 80px;

    @media only screen and (max-width: 1600px) {
      margin-top: 0.05vw;
      width: 5vw;
      height: 5vw;
    }

    @media only screen and (max-width: 990px) {
      margin-top: -1.3020833333333333vw;
      width: 10.4166666666666667vw;
      height: 10.4166666666666667vw;
    }

    @media only screen and (max-width: 990px) {
      margin-top: -0.95vw;
    }
  }
}
.delivery {
  padding-bottom: 113px;

  @media only screen and (max-width: 1600px) {
    padding-bottom: 7.0625vw;
  }

  @media only screen and (max-width: 990px) {
    padding-bottom: 15vw;
  }

  @media only screen and (max-width: 500px) {
    padding-bottom: 8.5vw;
  }

  h3 {
    color: #2b1b35;
    font-family: 'Proxima Nova Ex';
    font-size: 40px;
    margin-top: 88px;
    text-align: center;

    @media only screen and (max-width: 1600px) {
      font-size: 2.5vw;
      margin-top: 5.5vw;
    }

    @media only screen and (max-width: 990px) {
      margin-top: 13.5416666666666667vw;
      font-size: 4.1666666666666667vw;
    }

    @media only screen and (max-width: 500px) {
      margin-top: 22.7vw;
      text-align: left;
      font-size: 6.6666666666666667vw;
      line-height: 6.9333333333333333vw;
    }
  }

  .speedbar {
    ul {
      li {
        padding-right: 10.88px;

        @media only screen and (max-width: 1600px) {
          padding-right: 0.68vw;
        }
      }
    }
  }

  &__wrapper {
    margin: auto;
    padding-top: 100px;
    max-width: 920px;

    @media only screen and (max-width: 1600px) {
      padding-top: 6.25vw;
      max-width: 57.5vw;
    }

    @media only screen and (max-width: 990px) {
      padding-top: 12.7604166666666667vw;
      max-width: 100%;
    }

    @media only screen and (max-width: 500px) {
      padding-top: 13.0666666666666667vw;
    }
  }

  &__accordion {
    margin-top: 85px;
    border-top: 1px solid #e9e9e9;

    @media only screen and (max-width: 1600px) {
      margin-top: 5.75vw;
    }

    @media only screen and (max-width: 990px) {
      margin-top: 13.0208333333333333vw;
    }

    @media only screen and (max-width: 500px) {
      margin-top: 13.408333333333333vw;
    }

  }

  &__item {
    min-height: 100px;
    padding: 38px 0 37px;
    box-sizing: border-box;

    @media only screen and (max-width: 1600px) {
      min-height: 6.25vw;
      padding: 2.375vw 0 2.3125vw;

    }

    @media only screen and (max-width: 990px) {
      padding: 4.9479166666666667vw 0 4.8177083333333333vw;
    }

    @media only screen and (max-width: 500px) {

    }

    &-open {
      cursor: pointer;
    }

    &-arrow {
      top: 46px;
      right: 22px;
      position: absolute;
      width: 16px;
      height: 16px;
      background-image: url("../images/angle-blue-down.svg");
      background-size: 100% 100%;
      transition: .5s;

      @media only screen and (max-width: 1600px) {
        top: 2.875vw;
        right: 1.375vw;
        width: 1vw;
        height: 1vw;
      }

      @media only screen and (max-width: 990px) {
        top: 5.9895833333333333vw;
        right: 2.8645833333333333vw;
        width: 2.0833333333333333vw;
        height: 2.0833333333333333vw;
      }

      @media only screen and (max-width: 500px) {
        top: 7.2vw;
        right: 0;
        width: 2.1333333333333333vw;
        height: 2.1333333333333333vw;
      }

      &.open {
        transform: rotate(180deg);
      }
    }

    h4 {
      font-size: 24px;
      font-weight: bold;
      color: #2b1b35;
      letter-spacing: 0.45px;
      font-family: 'Proxima Nova Ex';

      @media only screen and (max-width: 1600px) {
        font-size: 1.5vw;
        letter-spacing: 0.028125vw;
      }

      @media only screen and (max-width: 990px) {
        max-width: 78.125vw;
        font-size: 3.2552083333333333vw;
        letter-spacing: -0.01vw;
      }

      @media only screen and (max-width: 500px) {
        font-size: 4.8vw;
        line-height: 6.6666666666666667vw;
      }
    }

    p {
      margin-top: 13px;
      font-size: 20px;
      line-height: 31px;
      font-weight: 300;
      color: #2b1b35;
      letter-spacing: -0.1px;

      @media only screen and (max-width: 1600px) {
        margin-top: 0.8125vw;
        font-size: 1.25vw;
        line-height: 1.9375vw;
        letter-spacing: -0.00625vw;
      }

      @media only screen and (max-width: 990px) {
        font-size: 2.6041666666666667vw;
        line-height: 4.0364583333333333vw;
        letter-spacing: -0.013vw;
      }

      @media only screen and (max-width: 500px) {
        margin-top: 2.9333333333333333vw;
        line-height: 6.1333333333333333vw;
        font-size: 4.2666666666666667vw;
      }

      span {
        display: block;
      }
    }


    &_js {
      position: relative;
      border-bottom: 1px solid #e9e9e9;

      @media only screen and (max-width: 1600px) {
        border-width: 0.0625vw;
      }

      @media only screen and (max-width: 990px) {
        border-width: 0.1302083333333333vw;
      }

      @media only screen and (max-width: 500px) {
        border-width: 0.2666666666666667vw;
      }
    }
  }

  &__list {
    display: none;
    margin-top: -15px;
    padding-left: 18px;
    list-style-type: decimal;
    font-size: 20px;
    color: #0049bc;

    @media only screen and (max-width: 1600px) {
      margin-top: -0.9375vw;
      padding-left: 1.125vw;
      font-size: 1.25vw;
    }

    @media only screen and (max-width: 990px) {
      margin-top: -1.953125vw;
      padding-left: 2.34375vw;
      font-size: 2.8645833333333333vw;
    }

    @media only screen and (max-width: 500px) {
      padding-left: 3.7333333333333333vw;
      font-size: 4.2666666666666667vw;
    }


    &-item {
      padding-left: 35px;

      @media only screen and (max-width: 1600px) {
        padding-left: 2.1875vw;
      }

      @media only screen and (max-width: 990px) {
        padding-left: 4.5572916666666667vw;
      }

      @media only screen and (max-width: 500px) {
        padding-left: 1.8666666666666667vw;
      }

      &:not(first-child) {
        margin-top: 57px;

        @media only screen and (max-width: 1600px) {
          margin-top: 3.5625vw;
        }

        @media only screen and (max-width: 990px) {
          margin-top: 7.421875vw;
        }
      }

      h4 {
        font-size: 20px;
        color: #2b1b35;

        @media only screen and (max-width: 1600px) {
          font-size: 1.25vw;
        }

        @media only screen and (max-width: 990px) {
          font-size: 2.6041666666666667vw;
        }

        @media only screen and (max-width: 500px) {
          font-size: 4.2666666666666667vw;
        }
      }
    }

    &-point {
      margin-top: 25px;
      display: flex;
      align-items: flex-start;
      font-size: 20px;
      color: #2b1b35;

      @media only screen and (max-width: 1600px) {
        margin-top: 1.5625vw;
        font-size: 1.25vw;
      }

      @media only screen and (max-width: 990px) {
        margin-top: 3.25208vw;
        font-size: 2.6041666666666667vw;
      }

      @media only screen and (max-width: 500px) {
        margin-top: 3.7333333333333333vw;
        font-size: 4.2666666666666667vw;
      }
    }

    &-name {
      margin-top: 6px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      min-width: 180px;
      width: 180px;
      line-height: 12px;

      @media only screen and (max-width: 1600px) {
        margin-top: 0.375vw;
        min-width: 11.25px;
        width: 11.25vw;
        line-height: 0.75vw;
      }

      @media only screen and (max-width: 990px) {
        min-width: 23.4375vw;
        width: 23.4375vw;
        margin-top: 0.78125vw;
        line-height: 1.5625vw;
      }

      @media only screen and (max-width: 500px) {
        margin-top: 1.6vw;
        min-width: 38.4375vw;
        width: 38.4375vw;
      }

      span {
        min-width: 135px;

        @media only screen and (max-width: 1600px) {
          min-width: 8.4375vw;
        }

        @media only screen and (max-width: 990px) {
          min-width: 17.578125vw;
        }

        @media only screen and (max-width: 500px) {
          min-width: 28.5333333333333333vw;
        }
      }
    }

    &-dotted {
      margin-left: 17px;
      width: 100%;
      border-top: dotted 1px #b0b0b0;

      @media only screen and (max-width: 1600px) {
        margin-left: 1.0625vw;
        border-width: 0.0625vw;
      }

      @media only screen and (max-width: 990px) {
        margin-left: 2.2135416666666667vw;
        border-width: 0.1302083333333333vw;
      }

      @media only screen and (max-width: 500px) {
        transform: translateY(0.5333333333333333vw);
        border-width: 0.2666666666666667vw;
      }
    }

    &-info {
      margin-left: 19px;
      letter-spacing: -0.13px;

      @media only screen and (max-width: 1600px) {
        margin-left: 1.1875vw;
        letter-spacing: -0.008125vw;
      }

      @media only screen and (max-width: 990px) {
        margin-left: 2.4739583333333333vw;
        line-height: 3.7760416666666667vw;
      }

      @media only screen and (max-width: 500px) {
        margin-top: -0.5333333333333333vw;
        line-height: 6.2vw;
      }
    }

    &-link {
      margin-top: 12px;
      letter-spacing: 1.5px;
      display: block;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      color: #0049bc;

      @media only screen and (max-width: 1600px) {
        margin-top: 0.75vw;
        letter-spacing: 0.09375vw;
        font-size: 0.875vw;
      }

      @media only screen and (max-width: 990px) {
        margin-top: 0.390625vw;
        font-size: 1.8229166666666667vw;
        letter-spacing: 0.1953125vw;
      }

      @media only screen and (max-width: 500px) {
        margin-top: 0.8vw;
        font-size: 3.2vw;
        letter-spacing: 0.3733333333333333vw;
      }
    }
  }
}

.contacts {
  h3 {
    color: #2b1b35;
    font-family: 'Proxima Nova Ex';
    font-size: 40px;
    margin-top: 88px;
    text-align: center;

    @media only screen and (max-width: 1600px) {
      font-size: 2.5vw;
      margin-top: 5.5vw;
    }

    @media only screen and (max-width: 990px) {
      margin-top: 13.5416666666666667vw;
      font-size: 4.1666666666666667vw;
    }

    @media only screen and (max-width: 500px) {
      margin-top: 22.7vw;
      text-align: left;
      font-size: 6.6666666666666667vw;
      line-height: 6.9333333333333333vw;
    }
  }

  &__wrapper {
    padding: 100px 0;
    max-width: 920px;
    margin: auto;

    @media only screen and (max-width: 1600px) {
      padding: 6.25vw 0;
      max-width: 57.5vw;
    }

    @media only screen and (max-width: 990px) {
      padding: 12.804166666666667vw 0 14.504166666666667vw;
      max-width: 100%;
    }

    @media only screen and (max-width: 500px) {
      padding: 13.0666666666666667vw 0 8.5333333333333333vw;
    }
  }

  &__list {

  }

  &__item {
    margin-bottom: 56px;
    display: flex;
    align-items: flex-start;

    @media only screen and (max-width: 1600px) {
      margin-bottom: 3.5vw;
    }

    @media only screen and (max-width: 990px) {
      margin-bottom: 6.5104166666666667vw;
    }

    @media only screen and (max-width: 500px) {
      margin-bottom: 4.5333333333333333vw;
    }

  }

  &__info {
    padding-left: 30px;
    color: #2b1b35;

    @media only screen and (max-width: 1600px) {
      padding-left: 1.875vw;
    }

    @media only screen and (max-width: 990px) {
      max-width: 84.6354166666666667vw;
      padding-left: 4.1vw;
    }

    @media only screen and (max-width: 500px) {
      padding-left: 2.6vw;

    }

    h4 {
      margin-bottom: 8px;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: -0.2px;
      font-family: 'Proxima Nova Ex';
      color: #2b1b35;

      @media only screen and (max-width: 1600px) {
        margin-bottom: 0.5vw;
        font-size: 1.5vw;
        letter-spacing: -0.0125vw;
      }

      @media only screen and (max-width: 990px) {
        margin-bottom: 1.0416666666666667vw;
        font-size: 3.125vw;
      }

      @media only screen and (max-width: 500px) {
        margin-top: 0.5333333333333333vw;
        margin-bottom: 0;
        font-size: 4.8vw;
      }
    }

    p {
      padding-top: 7px;
      font-size: 20px;
      letter-spacing: -0.1px;

      @media only screen and (max-width: 1600px) {
        padding-top: 0.4375vw;
        font-size: 1.25vw;
        letter-spacing: -0.00625vw;
      }

      @media only screen and (max-width: 990px) {
        padding-top: 0;
        font-size: 2.6041666666666667vw;
        line-height: 4.533333vw;
      }

      @media only screen and (max-width: 500px) {
        padding-top: 2.6666666666666667vw;
        font-size: 4.2666666666666667vw;
        line-height: 6.6666666666666667vw;
      }
    }

    a {
      color: #0049bc;
    }
  }
}


