// Shop Privacy
.shop-privacy {

  &__title {
    color: #2b1b35;
    font-family: 'Proxima Nova Ex';
    font-size: 40px;
    margin-top: 88px;
    text-align: center;

    @media only screen and (max-width: 1600px) {
      font-size: 2.5vw;
      margin-top: 5.5vw;
    }

    @media only screen and (max-width: 990px) {
      font-size: 4.166666666666667vw;
      margin-top: 11.45833333333333vw;
    }

    @media only screen and (max-width: 500px) {
      font-size: 6.666666666666667vw;
      line-height: 6.666666666666667vw;
      margin-top: 22.5vw;
      text-align: left;
    }
  }

  &__wrapper {
    margin: auto;
    padding-top: 100px;
    max-width: 920px;

    @media only screen and (max-width: 1600px) {
      padding-top: 6.25vw;
      max-width: 57.5vw;
    }

    @media only screen and (max-width: 990px) {
      padding-top: 13.02083333333333vw;
      max-width: 119.7916666666667vw;
    }

    @media only screen and (max-width: 500px) {
      padding-top: 13.33333333333333vw;
    }
  }

  &__list {
    margin-bottom: 150px;
    padding-left: 50px;
    list-style-type: none;

    @media only screen and (max-width: 1600px) {
      margin-bottom: 9.375vw;
      padding-left: 3.125vw;;
    }

    @media only screen and (max-width: 990px) {
      margin-bottom: 19.53125vw;
      padding-left: 9.765625vw;
    }

    @media only screen and (max-width: 500px) {
      margin-bottom: 13.33333333333333vw;
      padding-left: 9vw;
    }

    &-item {
      position: relative;
      margin-bottom: 15px;
      font-size: 20px;
      line-height: 32px;
      color: #2b1b35;

      @media only screen and (max-width: 1600px) {
        margin-bottom: 0.9375vw;
        font-size: 1.25vw;
        line-height: 2vw;
      }

      @media only screen and (max-width: 990px) {
        margin-bottom: 1.953125vw;
        font-size: 2.604166666666667vw;
        line-height: 4.166666666666667vw;
      }

      @media only screen and (max-width: 500px) {
        margin-bottom: 4vw;
        font-size: 4.266666666666667vw;
        line-height: 6.4vw;
      }

      &::before {
        content: attr(data-list-num);
        position: absolute;
        display: inline;
        top: 0;
        left: -50px;
        color: #0049bc;

        @media only screen and (max-width: 1600px) {
          left: -3.125vw;
        }

        @media only screen and (max-width: 990px) {
          left: -6.510416666666667vw;
        }

        @media only screen and (max-width: 500px) {
          left: -10vw;
        }
      }

      &_dots {
        margin-top: 15px;

        @media only screen and (max-width: 1600px) {
          margin-top: 0.9375vw;
        }

        @media only screen and (max-width: 990px) {
          margin-top: 1.953125vw;
        }

        @media only screen and (max-width: 500px) {
          margin-top: 3vw;
        }

        &::before {
          content: '';
          display: block;
          left: -30px;
          top: 50%;
          transform: translateY(-50%);
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: #0049bc;

          @media only screen and (max-width: 1600px) {
            left: -1.875vw;
            width: 0.3125vw;
            height: 0.3125vw;
          }

          @media only screen and (max-width: 990px) {
            left: -3.90625vw;
            width: 0.6510416666666667vw;
            height: 0.6510416666666667vw;
          }

          @media only screen and (max-width: 500px) {
            left: -8vw;
            width: 1vw;
            height: 1vw;
          }
        }
      }

      p {
        margin-bottom: 20px;

        @media only screen and (max-width: 1600px) {
          margin-bottom: 1.25vw;
        }

        @media only screen and (max-width: 990px) {
          margin-bottom: 2.604166666666667vw;
        }

        @media only screen and (max-width: 500px) {
          margin-bottom: 5.333333333333333vw;
        }
      }
    }
  }
}

// End Shop Privacy

// *** SHOP-RULES ***
.shop-rules {

  &__accordeon {
    margin-bottom: 150px;

    @media only screen and (max-width: 1600px) {
      margin-bottom: 9.375vw;
    }

    @media only screen and (max-width: 990px) {
      margin-bottom: 19.53125vw;
      padding: 0 3.255208333333333vw;
    }

    @media only screen and (max-width: 500px) {
      margin-bottom: 13.33333333333333vw;
      padding: 0;
    }

    &-item:last-child {
      border-bottom:  1px solid #e9e9e9;

      @media only screen and (max-width: 1600px) {
        border-width: 0.0625vw;
      }

      @media only screen and (max-width: 990px) {
        border-width: 0.1302083333333333vw;
      }

      @media only screen and (max-width: 500px) {
        border-width: 0.2666666666666667vw;
      }
    }

    &-item:last-child &-header.shown {
      border-bottom: none;
    }

    &-header {
      position: relative;
      padding: 40px 0;
      border-top: 1px solid #e9e9e9;
      cursor: pointer;

      @media only screen and (max-width: 1600px) {
        padding: 2.5vw 0;
        border-width: 0.0625vw;
      }

      @media only screen and (max-width: 990px) {
        padding: 5.208333333333333vw 0;
        border-width: 0.1302083333333333vw;
      }

      @media only screen and (max-width: 500px) {
        padding: 5.333333333333333vw 0;
        border-width: 0.2666666666666667vw;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        width: 16px;
        height: 16px;
        background-image: url('../images/angle-blue-down.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: all .25s;

        @media only screen and (max-width: 1600px) {
          right: 1.25vw;
          width: 1vw;
          height: 1vw;
        }

        @media only screen and (max-width: 990px) {
          right: 2.604166666666667vw;
          width: 2.083333333333333vw;
          height: 2.083333333333333vw;
        }

        @media only screen and (max-width: 500px) {
          right: 0;
        }
      }

      &.shown::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }

    &-title {
      position: relative;
      font-weight: 600;
      font-size: 24px;
      line-height: 26px;
      color: #2b1b35;
      font-family: 'Proxima Nova Ex';
      padding-left: 25px;

      @media only screen and (max-width: 1600px)  {
        font-size: 1.5vw;
        line-height: 1.625vw;
      }

      @media only screen and (max-width: 990px) {
        font-size: 3.125vw;
        line-height: 3.385416666666667vw;
      }

      @media only screen and (max-width: 500px)  {
        padding-left: 5vw;
        font-size: 4.8vw;
        line-height: 6.4vw;
      }

      &::before {
        left: 0;
        position: absolute;
        content: attr(data-accordeon-item);

        @media only screen and (max-width: 500px) {
          position: absolute;
          left: -0.1vw;
        }
      }
    }

    &-body {
      display: none;
      padding-bottom: 40px;
      padding-right: 30px;

      @media only screen and (max-width: 1600px) {
        padding-bottom: 2.5vw;
        padding-right: 1.875vw;
      }

      @media only screen and (max-width: 990px) {
        padding-bottom: 5.208333333333333vw;
        padding-right: 3.90625vw;
      }

      @media only screen and (max-width: 500px) {
        padding-bottom: 5.333333333333333vw;
        padding-right: 5.333333333333333vw;
      }
    }
  }

  &__list {
    margin-bottom: 0;

    @media only screen and (max-width: 990px) {
      padding-left: 6.770833333333333vw;
    }

    @media only screen and (max-width: 500px) {
      padding-left: 8.770833vw;
    }
  }

  .shop-privacy__list-item {

    &::before {
      @media only screen and (max-width: 500px) {
        left: -9vw;
      }
    }

    &_dots::before {
      @media only screen and (max-width: 500px) {
        left: -5vw;
      }
    }
  }
}
// *** END SHOP-RULES

// *** SHOP-PAYMENTS ***

.shop-payments {
  margin-bottom: 150px;

  @media only screen and (max-width: 1600px) {
    margin-bottom: 9.375vw;
  }

  @media only screen and (max-width: 900px) {
    margin-bottom: 19.53125vw;
  }

  @media only screen and (max-width: 500px) {
    margin-bottom: 13.33333333333333vw;
  }

  &__wrapper {
    max-width: 792px;

    @media only screen and (max-width: 1600px) {
      max-width: 49.5vw;
    }

    @media only screen and (max-width: 900px) {
      max-width: 74.510417vw;
    }

    @media only screen and (max-width: 500px) {
      max-width: 79.510417vw;
      padding-left: 8.533333333333333vw;
    }

    p, a {
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      color: #2b1b35;

      @media only screen and (max-width: 1600px) {
        font-size: 1.25vw;
        line-height: 2vw;
      }

      @media only screen and (max-width: 900px) {
        font-size: 2.604166666666667vw;
        line-height: 4.166666666666667vw;
      }

      @media only screen and (max-width: 500px) {
        font-size: 4.266666666666667vw;
        line-height: 6.4vw;
      }
    }

    a {
      color: #0049bc;
    }
  }

  &__way {
    margin-bottom: 50px;

    @media only screen and (max-width: 1600px) {
      margin-bottom: 3.125vw;
    }

    @media only screen and (max-width: 900px) {
      margin-bottom: 6.510416666666667vw;
    }

    @media only screen and (max-width: 500px) {
      margin-bottom: 5.333333333333333vw;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    position: relative;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #2b1b35;
    font-family: 'Proxima Nova Ex';

    @media only screen and (max-width: 1600px) {
      margin-bottom: 0.625vw;
      font-size: 1.5vw;
      line-height: 2vw;
    }

    @media only screen and (max-width: 900px) {
      margin-bottom: 1.302083333333333vw;
      font-size: 3.125vw;
      line-height: 4.166666666666667vw;
    }

    @media only screen and (max-width: 500px) {
      margin-bottom: 2.666666666666667vw;
      font-size: 4.8vw;
      line-height: 6.4vw;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -54px;
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      @media only screen and (max-width: 1600px) {
        left: -3.375vw;
        width: 1.5vw;
        height: 1.5vw;
      }

      @media only screen and (max-width: 900px) {
        left: -7.03125vw;
        width: 3.125vw;
        height: 3.125vw;
      }

      @media only screen and (max-width: 500px) {
        left: -9.066666666666667vw;
        width: 6.4vw;
        height: 6.4vw;
      }
    }

    &.payments-01::before {
      background-image: url('../images/icon-payments-01.svg');
    }

    &.payments-02::before {
      background-image: url('../images/icon-payments-02.svg');
    }

    &.payments-03::before {
      background-image: url('../images/icon-payments-03.svg');
    }

    &.payments-04::before {
      background-image: url('../images/icon-payments-04.svg');
    }

    &.payments-05::before {
      background-image: url('../images/icon-payments-05.svg');
    }
  }
}
