.shop-card .container .cart-number {
	color: #2b1b35;
}
.shop-card .shop-card-item-full .cart-item-content .checkout-block a {
	color: #2b1b35;
}

.adress-block select {
	position: relative;
	width: 100%;
    display: block;
    border: 1px solid #e1e1e1;
    background: #fff;
    border-radius: 50px;
    color: #0049bc;
    font-family: 'Proxima Nova Lt';
    font-size: 1em;
    padding: 7.5px 20px;
    box-sizing: border-box;
    color: #2b1b35;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    opacity: 1;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('../images/more-dark.png');
    background-repeat: no-repeat;
    background-position:98% center;
    background-size: 10px 10px;
}
.jq-selectbox {
    width: 100%;
}
.jq-selectbox__select {
    opacity: 0;
}
.adress-block-information {
	margin-top: 20px;
}
.adress-block-information-item {
	display: flex;
	div {
		display: 	flex;
	}
}


.adress-block-information-item p {
	font-size: 20px;
	line-height: 1.6;
	@media only screen and (max-width: 500px) {
		font-size: 16px;
	}
}
.shop-card .shop-card-item-full .cart-item-content .checkout-block .input-radio-parent label {
	font-size: 20px;
	line-height: 1.6;
	@media only screen and (max-width: 500px) {
		font-size: 16px;
	}
}
.adress-block select {
	font-size: 20px;
	line-height: 1.6;
	@media only screen and (max-width: 500px) {
		font-size: 16px;
	}
}
.shop-card .shop-card-item-full .cart-item-content .checkout-block p {
    line-height: 1.6;
    font-size: 16px;
    margin: 0 0 1.5em;
    @media only screen and (max-width: 500px) {
		font-size: 14px;
	}
}
.shop-card .shop-card-item-full .cart-item-content .checkout-block .t-name {
	color: #2b1b35;
	font-size: 24px;
	@media only screen and (max-width: 500px) {
		font-size: 14px;
	}
}



.adress-block-information-item div:first-child {
	text-align: left;
	max-width: 	170px;
	width: 	100%;
	@media only screen and (max-width: 990px) {
		max-width: 129px;
	}
}
a.open-map {
	display:block;	
    color: #0049bc!important;
    font-family: 'Proxima Nova Sm';
    cursor: pointer;
    text-transform: uppercase;
}
.open-map a {	
    color: #0049bc!important;
}
.shop-card .shop-card-item-full .cart-item-content .checkout-block p {
    line-height: 1.6em;
    margin: 0 0 1.5em;
}

.note-block-item-flex p {
	@media only screen and (max-width: 515px) {
		max-width: 175px;
    }
}
p.dotted-p {
	border-bottom: 	1px dotted #b0b0b0;
	line-height: 	1!important;
	width: 	100%;
	margin: 	0!important;
	height: 15px;
}
.t-name.input-parent-t {
	margin: 2.1em 0 2.1em 0!important;
}
.input-parent.number-of-two {
	display: flex;
	justify-content: space-between;
	@media only screen and (max-width: 575px) {
		flex-wrap:wrap;
		margin: 0;
	}
	    div {
	    	max-width: 320px;
	    	width: 100%;
	    	@media only screen and (max-width: 990px) {
	    		width:45%;
	    	}
	    	@media only screen and (max-width: 500px) {
	    		width:100%;
	    		max-width: none;
	    	}
	    	
	    }
}
.input-parent {
	@media only screen and (max-width: 500px) {
		margin: 0;
	}
}
.input-parent-bik {
	max-width: 320px;
	@media only screen and (max-width: 990px) {
	    width:45%;
	}
	@media only screen and (max-width: 500px) {
		width:100%;
		max-width: none;
	}
}
.adress-block-a-more {
	color:#0049bc!important;
}
.note-block-item {
	display: flex;
	justify-content:space-between;
	position: relative;
	@media only screen and (max-width: 370px) {
		flex-direction: column;
	}
	p {
		padding-right: 0!important;
	}
	p:last-child {
		padding-right: 90px;
	}
	&:last-child {
		p {
			margin-bottom: 0!important;
			padding-right: 90px;
		}
	}
	img {
    	margin-bottom: -5px;
    	cursor: pointer;
	}

}

.note-block-item-absolute {
	max-width: 360px;
	width: 360px;
	position: absolute;
	bottom: -75px;
	right: -186px;
	font-size: 16px;
	line-height: 1.38;
	color: #ffffff;
	font-family: 'Proxima Nova Rg';
	border-radius: 4px;
	background-color: #2b1b35;
	padding: 10px 15px;
	opacity: 0;
	pointer-events:none;
	transition:.3s ease;
	@media only screen and (max-width: 990px) {
		right: -110px;
	}
	@media only screen and (max-width: 575px) {
		right: -68px;
		bottom: -100px;
		max-width: 300px;
		width: 300px;
	}
	@media only screen and (max-width: 515px) {
		bottom: -110px;
		right: -110px;
	}
	p {
		padding-right: 0!important;
		@media only screen and (max-width: 515px) {
			max-width: none!important;
		}
	}
	@media only screen and (max-width: 375px) {
		bottom: -133px;
    	right: -40px;
    	width: 202px;
	}

}
.hint {
	position: relative;
	width: 24px;
	height: 24px;
	margin-left: 24px;
	&:hover .note-block-item-absolute {
		opacity: 1;
	}
}

.note-block-item-flex {
	display: flex;
}

.shop-card .jq-checkbox {
    width: 24px;
    height: 24px;
}

.shop-card .shop-card-item-full .cart-item-content .checkout-block {
	@media only screen and (max-width: 990px) {
		max-width: none;
	}
}
.input-parent .block {
    position: relative;
    padding: 1.3em 0 0.7em 0;
}
.shop-card .shop-card-item-full .cart-item-content .checkout-block .input-parent.number-of-four {
	@media only screen and (max-width: 550px) {
		flex-wrap:wrap;
		div {
			margin: 0!important;
			width: 100%;
		}
	}
}
.shop-card .shop-card-item-full .cart-item-content .checkout-block .form-send label {
    cursor: pointer;
    font-size: 20px;
    line-height: 1.4;
    @media only screen and (max-width: 500px) {
    	font-size: 16px;
    	line-height: 1.5;
    }
}
.shop-card .shop-card-item-full .cart-item-content .checkout-block .form-send .jq-checkbox {
    top: 2.7em;
}

.shop-card .shop-card-item-full .right-content-aside.right-content-aside-checkout {
	@media only screen and (max-width: 990px) {
		display: none;
	}
}
.shop-card .shop-card-item-full .cart-item-content .item-result {
	@media only screen and (max-width: 990px) {
		padding-top: 38px!important;
		margin-bottom: 100px;
	}
	@media only screen and (max-width: 490px) {
		font-size: 14px;
		padding-top: 20px!important;
		margin-bottom: 50px;
	}
}
.shop-card .shop-card-item-full .cart-item-content .checkout-block .item-result {
  	@media only screen and (max-width: 500px) {
    	display: flex;
    	justify-content:space-between;
    }
}

// ******
// modal form

.modal-map {
	width: 920px; 
	height: 691px;

	position: fixed; 
	top: 45%; 
	left: 50%; 
	margin-top: -355px;
	margin-left: -460px;
	display: none;
	opacity: 0; 
	z-index: 5;
	@media only screen and (max-width: 990px) {
		width: 680px;
  		height: 800px;
  		margin-left: -340px;
	}
	@media only screen and (max-width: 700px) {
		width: 100%;
		height: 100vh;
		top: 0!important;
		margin-top: 0;
		margin-left: 0;
    	left: 0!important;
	}
}
.modal_close {
	width: 62px;
  	height: 62px;
  	background-color: #ffffff;
  	border: solid 1px #dbdbdb;
  	border-radius: 50%;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
	z-index: 99999;
	span {
		display: block;
		position: absolute;
		width: 26px;
		height: 3px;
  		background-color: #2b1b35;
	}
	span:first-child {
		top: 30px;
		left: 18px;
		transform:rotate(45deg);
	}
	span:last-child {
		top: 30px;
		left: 18px;
		transform:rotate(-45deg);
	}
}
#overlay {
	z-index:3;
	position:fixed;
	background-color:#000; 
	opacity:0.2; 
	-moz-opacity:0.2; 
	width:100%; 
	height:100%;
	top:0;
	left:0;
	cursor:pointer;
	display:none;
}
.modal-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}
.modal-map iframe {
	width: 100%;
	height: 100%;
}
.modal-content {
	position: absolute;
	bottom: 0;
	z-index: 1;
	width: 100%;
	text-align: center;
}
.modal-content p {
  font-family: 'Proxima Nova Ex';
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: center;
  color: #2b1b35;
  background: none;
	@media only screen and (max-width: 990px) {
		font-size: 36px;
	}
	@media only screen and (max-width: 500px) {
	  font-size: 20px;
	}
}
.button {
    padding: 0.9em 40px;
    max-width: 230px;
    text-align: center;
    float: none;
    display: block;
    border: 1px solid #0049bc;
    background: #0049bc;
    color: #fff;
    border-radius: 100px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 0.65em;
    font-family: 'Proxima Nova Rg';
    cursor: pointer;
    border: 1px solid transparent;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    margin: 40px auto 80px;
    @media only screen and (max-width: 500px) {
    	margin: 20px auto 50px;
    }
}
.shop-card .shop-card-item-full .cart-item-content .checkout-block .form-send .button {
	@media only screen and (max-width: 500px) {
    	  margin: 2.5em auto 5em;
    }
}
// *****
// shop carf

.item-result-shop-card {
	// display: none;
}
.shop-card .container .cart-number {
    font-size: 2.1em;
    margin: 2.7em 0 2.3em 0;
}
.right-content .buttons {
	@media only screen and (max-width: 990px) {
		display: flex;
	    justify-content: space-between;
	}
	@media only screen and (max-width: 500px) {
		display: block;
	}
	a {
		@media only screen and (max-width: 990px) {
			width: 47%!important;
		}
		@media only screen and (max-width: 500px) {
			width: 100%!important;
			margin-bottom: 20px;
		}
	}
}
.button-without-bg {
	background: none;
	padding: 0;
	margin: 0 auto;
}
.price {
	color: #2b1b35;
	font-size: 22px;
	@media only screen and (max-width: 500px) {
		font-size: 16px;
	}
}
.title {
	color: #2b1b35;
	font-size: 20px;
	@media only screen and (max-width: 500px) {
		font-size: 14px;
	}
}
.item-result.item-result-shop-card {
	@media only screen and (max-width: 990px) {
		display: none;
	}
}


.note-block-item-absolute-item {
	display: flex;
	justify-content:space-between;
	p {
		line-height: 2;
	}
}


.about-block .title .note-block-item-absolute {
	bottom: -125px;
    left: -118px;
	opacity: 0;
	z-index: 2;
}

.about-block .title:hover .note-block-item-absolute {
	opacity: 1;
}
.shop-card .shop-card-item-full .cart-item-content .checkout-block .item-result .edit {
	font-size: 20px;
	@media only screen and (max-width: 500px) {
		font-size: 16px;
	}
}
.item-result .price {
	font-size: 20px;
	@media only screen and (max-width: 500px) {
		font-size: 16px;
	}
}
.shop-card .shop-card-item-full .cart-item-content .item-result {
	@media only screen and (max-width: 500px) {
		text-align: left;
	}
}
.shop-card .shop-card-item-full .cart-item-content {
	margin:50px 0 50px 0;
	@media only screen and (max-width: 500px) {
		margin-bottom: 110px;
	}
}

.input-parent input[type="text"], .input-parent input[type="url"], .input-parent input[type="number"], .input-parent input[type="tel"], .input-parent input[type="email"] {
	font-size: 20px;
	padding: 11.5px 20px;
	@media only screen and (max-width: 500px) {
		font-size: 16px;
	}
}
.jq-selectbox {
	z-index: 1;
}

.shop-card .shop-card-item-full .cart-item-content .checkout-block .input-parent .open-map {
	@media only screen and (max-width: 500px) {
		top: 32px;
	}
}



/** Custom Select **/
.custom-select-wrapper {
	position: relative;
	display: inline-block;
	user-select: none;
	width: 100%;
}
.custom-select-wrapper select {
	display: none;
}
.custom-select {
	position: relative;
	display: inline-block;
}
.custom-select-trigger {
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	font-size: 20px;
	font-weight: 300;
	color: #2b1b35;
	// line-height: 49px;
	// height: 49px;
	border: 1px solid #e1e1e1;
	background: #fff;
	border-radius: 50px;
	cursor: pointer;
	padding: 11.5px 50px 11.5px 20px;
	box-sizing:border-box;
	@media only screen and (max-width: 500px) {
		font-size:16px;
	}
}
.custom-select-trigger:after {
	position: absolute;
	display: block;
	content: '';
	width: 10px; height: 10px;
	top: 50%; right: 25px;
	margin-top: -3px;
	border-bottom: 1px solid #2b1b35;
	border-right: 1px solid #2b1b35;
	transform: rotate(45deg) translateY(-50%);
	transition: all .4s ease-in-out;
	transform-origin: 50% 0;
}
.custom-select.opened .custom-select-trigger:after {
	margin-top: 3px;
	transform: rotate(-135deg) translateY(-50%);
}
.custom-options {
	position: absolute;
	display: block;
	top: 100%; left: 0; right: 0;
	min-width: 100%;
	margin: 15px 0;
	box-sizing: border-box;
	background: #fff;
	transition: all .4s ease-in-out;

	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transform: translateY(-15px);

	border-radius: 22px;
	background-color: #ffffff;
	box-shadow: 2px 2px 26px 0 rgba(0, 0, 0, 0.1);

	max-height: 300px;
  	overflow-y:scroll;
}
.custom-select.opened .custom-options {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
	transform: translateY(0);
}
.custom-options:before {
	  position: absolute;
	  display: none;
	  content: '';
	  bottom: 100%; right: 25px;
	  width: 7px; height: 7px;
	  margin-bottom: -4px;
	  border-top: 1px solid #b5b5b5;
	  border-left: 1px solid #b5b5b5;
	  background: #fff;
	  transform: rotate(45deg);
	  transition: all .4s ease-in-out;
}
.option-hover:before {
  background: #f9f9f9;
}
.custom-option {
  position: relative;
  display: block;
  padding: 0 50px 0 20px;
  font-size: 20px;
  color: #2b1b35;
  line-height: 47px;
  cursor: pointer;
  transition: all .4s ease-in-out;
  @media only screen and (max-width: 990px) {
	line-height: 32px;
  }

  @media only screen and (max-width: 500px) {
		font-size:16px;
		line-height: 25px;
		margin: 4px 0;
  }
}
.custom-option:hover {
	 color: #0049bc;
}
.custom-option:first-of-type {
  border-radius: 4px 4px 0 0;
}
.custom-option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 4px 4px;
}
.custom-option:hover,
.custom-option.selection {
  background: #f9f9f9;
  position: relative;
  display: block;
}
.selection:after {
	position: absolute;
	display: block;
	content: '';
	bottom: 50%; right: 20px;
	margin-top: 7.5px;
	width: 15px; height: 15px;
	transition: all .4s ease-in-out;
	background-image: url('../images/check.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

}

.custom-options::-webkit-scrollbar{
    width:4px;
}
.custom-options::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    border-radius: 2px;
    background-color: #d8d8d8;
}
.custom-options::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}
.custom-options::-webkit-scrollbar-track{
    border-width:0;
}
.custom-options::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
    background-color: #eee;
}
.p-nowrap {
	white-space: nowrap;
}