.shop-privacy__title {
  color: #2b1b35;
  font-family: 'Proxima Nova Ex';
  font-size: 40px;
  margin-top: 88px;
  text-align: center; }
  @media only screen and (max-width: 1600px) {
    .shop-privacy__title {
      font-size: 2.5vw;
      margin-top: 5.5vw; } }
  @media only screen and (max-width: 990px) {
    .shop-privacy__title {
      font-size: 4.166666666666667vw;
      margin-top: 11.45833333333333vw; } }
  @media only screen and (max-width: 500px) {
    .shop-privacy__title {
      font-size: 6.666666666666667vw;
      line-height: 6.666666666666667vw;
      margin-top: 22.5vw;
      text-align: left; } }

.shop-privacy__wrapper {
  margin: auto;
  padding-top: 100px;
  max-width: 920px; }
  @media only screen and (max-width: 1600px) {
    .shop-privacy__wrapper {
      padding-top: 6.25vw;
      max-width: 57.5vw; } }
  @media only screen and (max-width: 990px) {
    .shop-privacy__wrapper {
      padding-top: 13.02083333333333vw;
      max-width: 119.7916666666667vw; } }
  @media only screen and (max-width: 500px) {
    .shop-privacy__wrapper {
      padding-top: 13.33333333333333vw; } }

.shop-privacy__list {
  margin-bottom: 150px;
  padding-left: 50px;
  list-style-type: none; }
  @media only screen and (max-width: 1600px) {
    .shop-privacy__list {
      margin-bottom: 9.375vw;
      padding-left: 3.125vw; } }
  @media only screen and (max-width: 990px) {
    .shop-privacy__list {
      margin-bottom: 19.53125vw;
      padding-left: 9.765625vw; } }
  @media only screen and (max-width: 500px) {
    .shop-privacy__list {
      margin-bottom: 13.33333333333333vw;
      padding-left: 9vw; } }
  .shop-privacy__list-item {
    position: relative;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 32px;
    color: #2b1b35; }
    @media only screen and (max-width: 1600px) {
      .shop-privacy__list-item {
        margin-bottom: 0.9375vw;
        font-size: 1.25vw;
        line-height: 2vw; } }
    @media only screen and (max-width: 990px) {
      .shop-privacy__list-item {
        margin-bottom: 1.953125vw;
        font-size: 2.604166666666667vw;
        line-height: 4.166666666666667vw; } }
    @media only screen and (max-width: 500px) {
      .shop-privacy__list-item {
        margin-bottom: 4vw;
        font-size: 4.266666666666667vw;
        line-height: 6.4vw; } }
    .shop-privacy__list-item::before {
      content: attr(data-list-num);
      position: absolute;
      display: inline;
      top: 0;
      left: -50px;
      color: #0049bc; }
      @media only screen and (max-width: 1600px) {
        .shop-privacy__list-item::before {
          left: -3.125vw; } }
      @media only screen and (max-width: 990px) {
        .shop-privacy__list-item::before {
          left: -6.510416666666667vw; } }
      @media only screen and (max-width: 500px) {
        .shop-privacy__list-item::before {
          left: -10vw; } }
    .shop-privacy__list-item_dots {
      margin-top: 15px; }
      @media only screen and (max-width: 1600px) {
        .shop-privacy__list-item_dots {
          margin-top: 0.9375vw; } }
      @media only screen and (max-width: 990px) {
        .shop-privacy__list-item_dots {
          margin-top: 1.953125vw; } }
      @media only screen and (max-width: 500px) {
        .shop-privacy__list-item_dots {
          margin-top: 3vw; } }
      .shop-privacy__list-item_dots::before {
        content: '';
        display: block;
        left: -30px;
        top: 50%;
        transform: translateY(-50%);
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #0049bc; }
        @media only screen and (max-width: 1600px) {
          .shop-privacy__list-item_dots::before {
            left: -1.875vw;
            width: 0.3125vw;
            height: 0.3125vw; } }
        @media only screen and (max-width: 990px) {
          .shop-privacy__list-item_dots::before {
            left: -3.90625vw;
            width: 0.6510416666666667vw;
            height: 0.6510416666666667vw; } }
        @media only screen and (max-width: 500px) {
          .shop-privacy__list-item_dots::before {
            left: -8vw;
            width: 1vw;
            height: 1vw; } }
    .shop-privacy__list-item p {
      margin-bottom: 20px; }
      @media only screen and (max-width: 1600px) {
        .shop-privacy__list-item p {
          margin-bottom: 1.25vw; } }
      @media only screen and (max-width: 990px) {
        .shop-privacy__list-item p {
          margin-bottom: 2.604166666666667vw; } }
      @media only screen and (max-width: 500px) {
        .shop-privacy__list-item p {
          margin-bottom: 5.333333333333333vw; } }

.shop-rules__accordeon {
  margin-bottom: 150px; }
  @media only screen and (max-width: 1600px) {
    .shop-rules__accordeon {
      margin-bottom: 9.375vw; } }
  @media only screen and (max-width: 990px) {
    .shop-rules__accordeon {
      margin-bottom: 19.53125vw;
      padding: 0 3.255208333333333vw; } }
  @media only screen and (max-width: 500px) {
    .shop-rules__accordeon {
      margin-bottom: 13.33333333333333vw;
      padding: 0; } }
  .shop-rules__accordeon-item:last-child {
    border-bottom: 1px solid #e9e9e9; }
    @media only screen and (max-width: 1600px) {
      .shop-rules__accordeon-item:last-child {
        border-width: 0.0625vw; } }
    @media only screen and (max-width: 990px) {
      .shop-rules__accordeon-item:last-child {
        border-width: 0.1302083333333333vw; } }
    @media only screen and (max-width: 500px) {
      .shop-rules__accordeon-item:last-child {
        border-width: 0.2666666666666667vw; } }
  .shop-rules__accordeon-item:last-child .shop-rules__accordeon-header.shown {
    border-bottom: none; }
  .shop-rules__accordeon-header {
    position: relative;
    padding: 40px 0;
    border-top: 1px solid #e9e9e9;
    cursor: pointer; }
    @media only screen and (max-width: 1600px) {
      .shop-rules__accordeon-header {
        padding: 2.5vw 0;
        border-width: 0.0625vw; } }
    @media only screen and (max-width: 990px) {
      .shop-rules__accordeon-header {
        padding: 5.208333333333333vw 0;
        border-width: 0.1302083333333333vw; } }
    @media only screen and (max-width: 500px) {
      .shop-rules__accordeon-header {
        padding: 5.333333333333333vw 0;
        border-width: 0.2666666666666667vw; } }
    .shop-rules__accordeon-header::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      width: 16px;
      height: 16px;
      background-image: url("../images/angle-blue-down.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transition: all .25s; }
      @media only screen and (max-width: 1600px) {
        .shop-rules__accordeon-header::after {
          right: 1.25vw;
          width: 1vw;
          height: 1vw; } }
      @media only screen and (max-width: 990px) {
        .shop-rules__accordeon-header::after {
          right: 2.604166666666667vw;
          width: 2.083333333333333vw;
          height: 2.083333333333333vw; } }
      @media only screen and (max-width: 500px) {
        .shop-rules__accordeon-header::after {
          right: 0; } }
    .shop-rules__accordeon-header.shown::after {
      transform: translateY(-50%) rotate(180deg); }
  .shop-rules__accordeon-title {
    position: relative;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    color: #2b1b35;
    font-family: 'Proxima Nova Ex';
    padding-left: 25px; }
    @media only screen and (max-width: 1600px) {
      .shop-rules__accordeon-title {
        font-size: 1.5vw;
        line-height: 1.625vw; } }
    @media only screen and (max-width: 990px) {
      .shop-rules__accordeon-title {
        font-size: 3.125vw;
        line-height: 3.385416666666667vw; } }
    @media only screen and (max-width: 500px) {
      .shop-rules__accordeon-title {
        padding-left: 5vw;
        font-size: 4.8vw;
        line-height: 6.4vw; } }
    .shop-rules__accordeon-title::before {
      left: 0;
      position: absolute;
      content: attr(data-accordeon-item); }
      @media only screen and (max-width: 500px) {
        .shop-rules__accordeon-title::before {
          position: absolute;
          left: -0.1vw; } }
  .shop-rules__accordeon-body {
    display: none;
    padding-bottom: 40px;
    padding-right: 30px; }
    @media only screen and (max-width: 1600px) {
      .shop-rules__accordeon-body {
        padding-bottom: 2.5vw;
        padding-right: 1.875vw; } }
    @media only screen and (max-width: 990px) {
      .shop-rules__accordeon-body {
        padding-bottom: 5.208333333333333vw;
        padding-right: 3.90625vw; } }
    @media only screen and (max-width: 500px) {
      .shop-rules__accordeon-body {
        padding-bottom: 5.333333333333333vw;
        padding-right: 5.333333333333333vw; } }

.shop-rules__list {
  margin-bottom: 0; }
  @media only screen and (max-width: 990px) {
    .shop-rules__list {
      padding-left: 6.770833333333333vw; } }
  @media only screen and (max-width: 500px) {
    .shop-rules__list {
      padding-left: 8.770833vw; } }

@media only screen and (max-width: 500px) {
  .shop-rules .shop-privacy__list-item::before {
    left: -9vw; } }

@media only screen and (max-width: 500px) {
  .shop-rules .shop-privacy__list-item_dots::before {
    left: -5vw; } }

.shop-payments {
  margin-bottom: 150px; }
  @media only screen and (max-width: 1600px) {
    .shop-payments {
      margin-bottom: 9.375vw; } }
  @media only screen and (max-width: 900px) {
    .shop-payments {
      margin-bottom: 19.53125vw; } }
  @media only screen and (max-width: 500px) {
    .shop-payments {
      margin-bottom: 13.33333333333333vw; } }
  .shop-payments__wrapper {
    max-width: 792px; }
    @media only screen and (max-width: 1600px) {
      .shop-payments__wrapper {
        max-width: 49.5vw; } }
    @media only screen and (max-width: 900px) {
      .shop-payments__wrapper {
        max-width: 74.510417vw; } }
    @media only screen and (max-width: 500px) {
      .shop-payments__wrapper {
        max-width: 79.510417vw;
        padding-left: 8.533333333333333vw; } }
    .shop-payments__wrapper p, .shop-payments__wrapper a {
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      color: #2b1b35; }
      @media only screen and (max-width: 1600px) {
        .shop-payments__wrapper p, .shop-payments__wrapper a {
          font-size: 1.25vw;
          line-height: 2vw; } }
      @media only screen and (max-width: 900px) {
        .shop-payments__wrapper p, .shop-payments__wrapper a {
          font-size: 2.604166666666667vw;
          line-height: 4.166666666666667vw; } }
      @media only screen and (max-width: 500px) {
        .shop-payments__wrapper p, .shop-payments__wrapper a {
          font-size: 4.266666666666667vw;
          line-height: 6.4vw; } }
    .shop-payments__wrapper a {
      color: #0049bc; }
  .shop-payments__way {
    margin-bottom: 50px; }
    @media only screen and (max-width: 1600px) {
      .shop-payments__way {
        margin-bottom: 3.125vw; } }
    @media only screen and (max-width: 900px) {
      .shop-payments__way {
        margin-bottom: 6.510416666666667vw; } }
    @media only screen and (max-width: 500px) {
      .shop-payments__way {
        margin-bottom: 5.333333333333333vw; } }
    .shop-payments__way:last-child {
      margin-bottom: 0; }
  .shop-payments__title {
    position: relative;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #2b1b35;
    font-family: 'Proxima Nova Ex'; }
    @media only screen and (max-width: 1600px) {
      .shop-payments__title {
        margin-bottom: 0.625vw;
        font-size: 1.5vw;
        line-height: 2vw; } }
    @media only screen and (max-width: 900px) {
      .shop-payments__title {
        margin-bottom: 1.302083333333333vw;
        font-size: 3.125vw;
        line-height: 4.166666666666667vw; } }
    @media only screen and (max-width: 500px) {
      .shop-payments__title {
        margin-bottom: 2.666666666666667vw;
        font-size: 4.8vw;
        line-height: 6.4vw; } }
    .shop-payments__title::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -54px;
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }
      @media only screen and (max-width: 1600px) {
        .shop-payments__title::before {
          left: -3.375vw;
          width: 1.5vw;
          height: 1.5vw; } }
      @media only screen and (max-width: 900px) {
        .shop-payments__title::before {
          left: -7.03125vw;
          width: 3.125vw;
          height: 3.125vw; } }
      @media only screen and (max-width: 500px) {
        .shop-payments__title::before {
          left: -9.066666666666667vw;
          width: 6.4vw;
          height: 6.4vw; } }
    .shop-payments__title.payments-01::before {
      background-image: url("../images/icon-payments-01.svg"); }
    .shop-payments__title.payments-02::before {
      background-image: url("../images/icon-payments-02.svg"); }
    .shop-payments__title.payments-03::before {
      background-image: url("../images/icon-payments-03.svg"); }
    .shop-payments__title.payments-04::before {
      background-image: url("../images/icon-payments-04.svg"); }
    .shop-payments__title.payments-05::before {
      background-image: url("../images/icon-payments-05.svg"); }
