.modal-kuki {
  position: fixed;
  z-index: 99999;
  top: auto;
  right: auto;
  bottom: 0;
  left: 50%;
  margin-left: -800px;
  display: none;
  max-width: 480px;
  max-height: 522px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 2px 2px 26px 0 rgba(0, 0, 0, 0.1);
  padding: 30px 40px 40px 40px;
  box-sizing: border-box; }
  @media only screen and (max-width: 1600px) {
    .modal-kuki {
      max-width: 30vw;
      max-height: 32.625vw;
      box-shadow: 0.125vw 0.125vw 1.625vw 0 rgba(0, 0, 0, 0.1);
      padding: 1.875vw 2.5vw 2.5vw 2.5vw;
      margin-left: -46.5vw; } }
  @media only screen and (max-width: 990px) {
    .modal-kuki {
      max-width: 61.5885416666666667vw;
      max-height: 67.96875vw;
      box-shadow: 0.53333vw 0.53333vw 3.38542vw 0 rgba(0, 0, 0, 0.1);
      padding: 3.90625vw 5.2083333333333333vw 5.2083333333333333vw 5.2083333333333333vw;
      margin-left: -47.3958333333333333vw; } }
  @media only screen and (max-width: 500px) {
    .modal-kuki {
      max-width: 94.6666666666666667vw;
      max-height: 105.3333333333333333vw;
      box-shadow: 0.26042vw 0.26042vw 6.93333vw 0 rgba(0, 0, 0, 0.1);
      padding: 5.3333333333333333vw 5.3333333333333333vw 13.3333333333333333vw 5.3333333333333333vw;
      margin-left: -47.1958333333333333vw; } }
  .modal-kuki__content__img {
    width: 80px;
    height: 80px;
    margin-bottom: 17px; }
    @media only screen and (max-width: 1600px) {
      .modal-kuki__content__img {
        width: 5vw;
        height: 5vw;
        margin-bottom: 1.0625vw; } }
    @media only screen and (max-width: 990px) {
      .modal-kuki__content__img {
        width: 10.4166666666666667vw;
        height: 10.4166666666666667vw;
        margin-bottom: 3.125vw; } }
    @media only screen and (max-width: 500px) {
      .modal-kuki__content__img {
        width: 10.6666666666666667vw;
        height: 10.6666666666666667vw;
        margin-bottom: 1.0666666666666667vw; } }
  .modal-kuki__content__h4 {
    font-family: 'Proxima Nova Ex';
    font-weight: bold;
    color: #2b1b35;
    line-height: 1.08;
    margin-bottom: 20px;
    font-size: 24px;
    text-transform: uppercase; }
    @media only screen and (max-width: 1600px) {
      .modal-kuki__content__h4 {
        margin-bottom: 1.25vw;
        font-size: 1.5vw; } }
    @media only screen and (max-width: 990px) {
      .modal-kuki__content__h4 {
        margin-bottom: 2.6041666666666667vw;
        font-size: 3.125vw; } }
    @media only screen and (max-width: 500px) {
      .modal-kuki__content__h4 {
        margin-bottom: 1.3333333333333333vw;
        font-size: 3.7333333333333333vw; } }
  .modal-kuki__content__p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #2b1b35;
    letter-spacing: normal;
    margin-bottom: 20px; }
    @media only screen and (max-width: 1600px) {
      .modal-kuki__content__p {
        margin-bottom: 1.25vw;
        font-size: 1vw; } }
    @media only screen and (max-width: 990px) {
      .modal-kuki__content__p {
        margin-bottom: 2.6041666666666667vw;
        font-size: 2.0833333333333333vw; } }
    @media only screen and (max-width: 500px) {
      .modal-kuki__content__p {
        margin-bottom: 5.3333333333333333vw;
        font-size: 2.9333333333333333vw; } }
  .modal-kuki__links {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 500px) {
      .modal-kuki__links {
        flex-direction: column; } }
    .modal-kuki__links a {
      display: block;
      cursor: pointer;
      padding: 16px 38px;
      border-radius: 100px;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      transition: .3s ease; }
      .modal-kuki__links a:hover {
        opacity: .8; }
      @media only screen and (max-width: 1600px) {
        .modal-kuki__links a {
          font-size: 0.875vw;
          padding: 1vw 2.375vw;
          border-radius: 6.25vw; } }
      @media only screen and (max-width: 990px) {
        .modal-kuki__links a {
          font-size: 1.8229166666666667vw;
          padding: 2.0833333333333333vw 4.9479166666666667vw;
          border-radius: 13.0208333333333333vw; } }
      @media only screen and (max-width: 500px) {
        .modal-kuki__links a {
          text-align: center;
          font-size: 3.7333333333333333vw;
          padding: 4.2666666666666667vw 4.9479166666666667vw;
          border-radius: 26.6666666666666667vw; } }
    .modal-kuki__links__close {
      background-color: #0049bc;
      color: #ffffff; }
      .modal-kuki__links__close:hover {
        color: #ffffff; }
      @media only screen and (max-width: 500px) {
        .modal-kuki__links__close {
          margin-bottom: 5.3333333333333333vw; } }
    .modal-kuki__links__more {
      color: #0049bc;
      border: solid 1px #e1e1e1; }
      .modal-kuki__links__more:hover {
        color: #0049bc; }
