@charset "UTF-8";
.stock {
  background-color: #f1f6ff;
  min-height: 152px;
  padding: 37.6px 50px 40px 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 1600px) {
    .stock {
      padding: 2.35vw 3.125vw 2.5vw 2.5vw;
      min-height: 9.5vw; } }
  @media only screen and (max-width: 990px) {
    .stock {
      min-height: 22.9166666666666667vw;
      padding: 5.2083333333333333vw; } }
  @media only screen and (max-width: 500px) {
    .stock {
      min-height: 35.7333333333333333vw;
      height: 35.7333333333333333vw; } }
  .stock h4 {
    font-family: 'Proxima Nova Ex';
    color: #2b1b35;
    font-weight: bold;
    font-size: 25px; }
    @media only screen and (max-width: 1600px) {
      .stock h4 {
        font-size: 1.5625vw; } }
    @media only screen and (max-width: 990px) {
      .stock h4 {
        font-size: 3.2552083333333333vw;
        line-height: 26px; } }
    @media only screen and (max-width: 500px) {
      .stock h4 {
        font-size: 4.8vw; } }
  .stock p {
    padding-top: 20.8px;
    letter-spacing: -0.003vw;
    font-size: 16px;
    font-weight: 300;
    color: #2b1b35; }
    @media only screen and (max-width: 1600px) {
      .stock p {
        padding-top: 1.3vw;
        font-size: 1vw; } }
    @media only screen and (max-width: 990px) {
      .stock p {
        padding-top: 2.6041666666666667vw;
        font-size: 2.0833333333333333vw;
        line-height: 2.9947916666666667vw; } }
    @media only screen and (max-width: 500px) {
      .stock p {
        max-width: 58.6666666666666667vw;
        font-size: 3.7333333333333333vw;
        line-height: 5.594792vw; } }
  .stock__image {
    margin-top: 8px;
    width: 80px;
    height: 80px; }
    @media only screen and (max-width: 1600px) {
      .stock__image {
        margin-top: 0.05vw;
        width: 5vw;
        height: 5vw; } }
    @media only screen and (max-width: 990px) {
      .stock__image {
        margin-top: -1.3020833333333333vw;
        width: 10.4166666666666667vw;
        height: 10.4166666666666667vw; } }
    @media only screen and (max-width: 990px) {
      .stock__image {
        margin-top: -0.95vw; } }

.delivery {
  padding-bottom: 113px; }
  @media only screen and (max-width: 1600px) {
    .delivery {
      padding-bottom: 7.0625vw; } }
  @media only screen and (max-width: 990px) {
    .delivery {
      padding-bottom: 15vw; } }
  @media only screen and (max-width: 500px) {
    .delivery {
      padding-bottom: 8.5vw; } }
  .delivery h3 {
    color: #2b1b35;
    font-family: 'Proxima Nova Ex';
    font-size: 40px;
    margin-top: 88px;
    text-align: center; }
    @media only screen and (max-width: 1600px) {
      .delivery h3 {
        font-size: 2.5vw;
        margin-top: 5.5vw; } }
    @media only screen and (max-width: 990px) {
      .delivery h3 {
        margin-top: 13.5416666666666667vw;
        font-size: 4.1666666666666667vw; } }
    @media only screen and (max-width: 500px) {
      .delivery h3 {
        margin-top: 22.7vw;
        text-align: left;
        font-size: 6.6666666666666667vw;
        line-height: 6.9333333333333333vw; } }
  .delivery .speedbar ul li {
    padding-right: 10.88px; }
    @media only screen and (max-width: 1600px) {
      .delivery .speedbar ul li {
        padding-right: 0.68vw; } }
  .delivery__wrapper {
    margin: auto;
    padding-top: 100px;
    max-width: 920px; }
    @media only screen and (max-width: 1600px) {
      .delivery__wrapper {
        padding-top: 6.25vw;
        max-width: 57.5vw; } }
    @media only screen and (max-width: 990px) {
      .delivery__wrapper {
        padding-top: 12.7604166666666667vw;
        max-width: 100%; } }
    @media only screen and (max-width: 500px) {
      .delivery__wrapper {
        padding-top: 13.0666666666666667vw; } }
  .delivery__accordion {
    margin-top: 85px;
    border-top: 1px solid #e9e9e9; }
    @media only screen and (max-width: 1600px) {
      .delivery__accordion {
        margin-top: 5.75vw; } }
    @media only screen and (max-width: 990px) {
      .delivery__accordion {
        margin-top: 13.0208333333333333vw; } }
    @media only screen and (max-width: 500px) {
      .delivery__accordion {
        margin-top: 13.408333333333333vw; } }
  .delivery__item {
    min-height: 100px;
    padding: 38px 0 37px;
    box-sizing: border-box; }
    @media only screen and (max-width: 1600px) {
      .delivery__item {
        min-height: 6.25vw;
        padding: 2.375vw 0 2.3125vw; } }
    @media only screen and (max-width: 990px) {
      .delivery__item {
        padding: 4.9479166666666667vw 0 4.8177083333333333vw; } }
    .delivery__item-open {
      cursor: pointer; }
    .delivery__item-arrow {
      top: 46px;
      right: 22px;
      position: absolute;
      width: 16px;
      height: 16px;
      background-image: url("../images/angle-blue-down.svg");
      background-size: 100% 100%;
      transition: .5s; }
      @media only screen and (max-width: 1600px) {
        .delivery__item-arrow {
          top: 2.875vw;
          right: 1.375vw;
          width: 1vw;
          height: 1vw; } }
      @media only screen and (max-width: 990px) {
        .delivery__item-arrow {
          top: 5.9895833333333333vw;
          right: 2.8645833333333333vw;
          width: 2.0833333333333333vw;
          height: 2.0833333333333333vw; } }
      @media only screen and (max-width: 500px) {
        .delivery__item-arrow {
          top: 7.2vw;
          right: 0;
          width: 2.1333333333333333vw;
          height: 2.1333333333333333vw; } }
      .delivery__item-arrow.open {
        transform: rotate(180deg); }
    .delivery__item h4 {
      font-size: 24px;
      font-weight: bold;
      color: #2b1b35;
      letter-spacing: 0.45px;
      font-family: 'Proxima Nova Ex'; }
      @media only screen and (max-width: 1600px) {
        .delivery__item h4 {
          font-size: 1.5vw;
          letter-spacing: 0.028125vw; } }
      @media only screen and (max-width: 990px) {
        .delivery__item h4 {
          max-width: 78.125vw;
          font-size: 3.2552083333333333vw;
          letter-spacing: -0.01vw; } }
      @media only screen and (max-width: 500px) {
        .delivery__item h4 {
          font-size: 4.8vw;
          line-height: 6.6666666666666667vw; } }
    .delivery__item p {
      margin-top: 13px;
      font-size: 20px;
      line-height: 31px;
      font-weight: 300;
      color: #2b1b35;
      letter-spacing: -0.1px; }
      @media only screen and (max-width: 1600px) {
        .delivery__item p {
          margin-top: 0.8125vw;
          font-size: 1.25vw;
          line-height: 1.9375vw;
          letter-spacing: -0.00625vw; } }
      @media only screen and (max-width: 990px) {
        .delivery__item p {
          font-size: 2.6041666666666667vw;
          line-height: 4.0364583333333333vw;
          letter-spacing: -0.013vw; } }
      @media only screen and (max-width: 500px) {
        .delivery__item p {
          margin-top: 2.9333333333333333vw;
          line-height: 6.1333333333333333vw;
          font-size: 4.2666666666666667vw; } }
      .delivery__item p span {
        display: block; }
    .delivery__item_js {
      position: relative;
      border-bottom: 1px solid #e9e9e9; }
      @media only screen and (max-width: 1600px) {
        .delivery__item_js {
          border-width: 0.0625vw; } }
      @media only screen and (max-width: 990px) {
        .delivery__item_js {
          border-width: 0.1302083333333333vw; } }
      @media only screen and (max-width: 500px) {
        .delivery__item_js {
          border-width: 0.2666666666666667vw; } }
  .delivery__list {
    display: none;
    margin-top: -15px;
    padding-left: 18px;
    list-style-type: decimal;
    font-size: 20px;
    color: #0049bc; }
    @media only screen and (max-width: 1600px) {
      .delivery__list {
        margin-top: -0.9375vw;
        padding-left: 1.125vw;
        font-size: 1.25vw; } }
    @media only screen and (max-width: 990px) {
      .delivery__list {
        margin-top: -1.953125vw;
        padding-left: 2.34375vw;
        font-size: 2.8645833333333333vw; } }
    @media only screen and (max-width: 500px) {
      .delivery__list {
        padding-left: 3.7333333333333333vw;
        font-size: 4.2666666666666667vw; } }
    .delivery__list-item {
      padding-left: 35px; }
      @media only screen and (max-width: 1600px) {
        .delivery__list-item {
          padding-left: 2.1875vw; } }
      @media only screen and (max-width: 990px) {
        .delivery__list-item {
          padding-left: 4.5572916666666667vw; } }
      @media only screen and (max-width: 500px) {
        .delivery__list-item {
          padding-left: 1.8666666666666667vw; } }
      .delivery__list-item:not(first-child) {
        margin-top: 57px; }
        @media only screen and (max-width: 1600px) {
          .delivery__list-item:not(first-child) {
            margin-top: 3.5625vw; } }
        @media only screen and (max-width: 990px) {
          .delivery__list-item:not(first-child) {
            margin-top: 7.421875vw; } }
      .delivery__list-item h4 {
        font-size: 20px;
        color: #2b1b35; }
        @media only screen and (max-width: 1600px) {
          .delivery__list-item h4 {
            font-size: 1.25vw; } }
        @media only screen and (max-width: 990px) {
          .delivery__list-item h4 {
            font-size: 2.6041666666666667vw; } }
        @media only screen and (max-width: 500px) {
          .delivery__list-item h4 {
            font-size: 4.2666666666666667vw; } }
    .delivery__list-point {
      margin-top: 25px;
      display: flex;
      align-items: flex-start;
      font-size: 20px;
      color: #2b1b35; }
      @media only screen and (max-width: 1600px) {
        .delivery__list-point {
          margin-top: 1.5625vw;
          font-size: 1.25vw; } }
      @media only screen and (max-width: 990px) {
        .delivery__list-point {
          margin-top: 3.25208vw;
          font-size: 2.6041666666666667vw; } }
      @media only screen and (max-width: 500px) {
        .delivery__list-point {
          margin-top: 3.7333333333333333vw;
          font-size: 4.2666666666666667vw; } }
    .delivery__list-name {
      margin-top: 6px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      min-width: 180px;
      width: 180px;
      line-height: 12px; }
      @media only screen and (max-width: 1600px) {
        .delivery__list-name {
          margin-top: 0.375vw;
          min-width: 11.25px;
          width: 11.25vw;
          line-height: 0.75vw; } }
      @media only screen and (max-width: 990px) {
        .delivery__list-name {
          min-width: 23.4375vw;
          width: 23.4375vw;
          margin-top: 0.78125vw;
          line-height: 1.5625vw; } }
      @media only screen and (max-width: 500px) {
        .delivery__list-name {
          margin-top: 1.6vw;
          min-width: 38.4375vw;
          width: 38.4375vw; } }
      .delivery__list-name span {
        min-width: 135px; }
        @media only screen and (max-width: 1600px) {
          .delivery__list-name span {
            min-width: 8.4375vw; } }
        @media only screen and (max-width: 990px) {
          .delivery__list-name span {
            min-width: 17.578125vw; } }
        @media only screen and (max-width: 500px) {
          .delivery__list-name span {
            min-width: 28.5333333333333333vw; } }
    .delivery__list-dotted {
      margin-left: 17px;
      width: 100%;
      border-top: dotted 1px #b0b0b0; }
      @media only screen and (max-width: 1600px) {
        .delivery__list-dotted {
          margin-left: 1.0625vw;
          border-width: 0.0625vw; } }
      @media only screen and (max-width: 990px) {
        .delivery__list-dotted {
          margin-left: 2.2135416666666667vw;
          border-width: 0.1302083333333333vw; } }
      @media only screen and (max-width: 500px) {
        .delivery__list-dotted {
          transform: translateY(0.53333vw);
          border-width: 0.2666666666666667vw; } }
    .delivery__list-info {
      margin-left: 19px;
      letter-spacing: -0.13px; }
      @media only screen and (max-width: 1600px) {
        .delivery__list-info {
          margin-left: 1.1875vw;
          letter-spacing: -0.008125vw; } }
      @media only screen and (max-width: 990px) {
        .delivery__list-info {
          margin-left: 2.4739583333333333vw;
          line-height: 3.7760416666666667vw; } }
      @media only screen and (max-width: 500px) {
        .delivery__list-info {
          margin-top: -0.5333333333333333vw;
          line-height: 6.2vw; } }
    .delivery__list-link {
      margin-top: 12px;
      letter-spacing: 1.5px;
      display: block;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      color: #0049bc; }
      @media only screen and (max-width: 1600px) {
        .delivery__list-link {
          margin-top: 0.75vw;
          letter-spacing: 0.09375vw;
          font-size: 0.875vw; } }
      @media only screen and (max-width: 990px) {
        .delivery__list-link {
          margin-top: 0.390625vw;
          font-size: 1.8229166666666667vw;
          letter-spacing: 0.1953125vw; } }
      @media only screen and (max-width: 500px) {
        .delivery__list-link {
          margin-top: 0.8vw;
          font-size: 3.2vw;
          letter-spacing: 0.3733333333333333vw; } }

.contacts h3 {
  color: #2b1b35;
  font-family: 'Proxima Nova Ex';
  font-size: 40px;
  margin-top: 88px;
  text-align: center; }
  @media only screen and (max-width: 1600px) {
    .contacts h3 {
      font-size: 2.5vw;
      margin-top: 5.5vw; } }
  @media only screen and (max-width: 990px) {
    .contacts h3 {
      margin-top: 13.5416666666666667vw;
      font-size: 4.1666666666666667vw; } }
  @media only screen and (max-width: 500px) {
    .contacts h3 {
      margin-top: 22.7vw;
      text-align: left;
      font-size: 6.6666666666666667vw;
      line-height: 6.9333333333333333vw; } }

.contacts__wrapper {
  padding: 100px 0;
  max-width: 920px;
  margin: auto; }
  @media only screen and (max-width: 1600px) {
    .contacts__wrapper {
      padding: 6.25vw 0;
      max-width: 57.5vw; } }
  @media only screen and (max-width: 990px) {
    .contacts__wrapper {
      padding: 12.804166666666667vw 0 14.504166666666667vw;
      max-width: 100%; } }
  @media only screen and (max-width: 500px) {
    .contacts__wrapper {
      padding: 13.0666666666666667vw 0 8.5333333333333333vw; } }

.contacts__item {
  margin-bottom: 56px;
  display: flex;
  align-items: flex-start; }
  @media only screen and (max-width: 1600px) {
    .contacts__item {
      margin-bottom: 3.5vw; } }
  @media only screen and (max-width: 990px) {
    .contacts__item {
      margin-bottom: 6.5104166666666667vw; } }
  @media only screen and (max-width: 500px) {
    .contacts__item {
      margin-bottom: 4.5333333333333333vw; } }

.contacts__info {
  padding-left: 30px;
  color: #2b1b35; }
  @media only screen and (max-width: 1600px) {
    .contacts__info {
      padding-left: 1.875vw; } }
  @media only screen and (max-width: 990px) {
    .contacts__info {
      max-width: 84.6354166666666667vw;
      padding-left: 4.1vw; } }
  @media only screen and (max-width: 500px) {
    .contacts__info {
      padding-left: 2.6vw; } }
  .contacts__info h4 {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.2px;
    font-family: 'Proxima Nova Ex';
    color: #2b1b35; }
    @media only screen and (max-width: 1600px) {
      .contacts__info h4 {
        margin-bottom: 0.5vw;
        font-size: 1.5vw;
        letter-spacing: -0.0125vw; } }
    @media only screen and (max-width: 990px) {
      .contacts__info h4 {
        margin-bottom: 1.0416666666666667vw;
        font-size: 3.125vw; } }
    @media only screen and (max-width: 500px) {
      .contacts__info h4 {
        margin-top: 0.5333333333333333vw;
        margin-bottom: 0;
        font-size: 4.8vw; } }
  .contacts__info p {
    padding-top: 7px;
    font-size: 20px;
    letter-spacing: -0.1px; }
    @media only screen and (max-width: 1600px) {
      .contacts__info p {
        padding-top: 0.4375vw;
        font-size: 1.25vw;
        letter-spacing: -0.00625vw; } }
    @media only screen and (max-width: 990px) {
      .contacts__info p {
        padding-top: 0;
        font-size: 2.6041666666666667vw;
        line-height: 4.533333vw; } }
    @media only screen and (max-width: 500px) {
      .contacts__info p {
        padding-top: 2.6666666666666667vw;
        font-size: 4.2666666666666667vw;
        line-height: 6.6666666666666667vw; } }
  .contacts__info a {
    color: #0049bc; }

.error-page__wrapper {
  padding: 34px 10px 0;
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 1600px) {
    .error-page__wrapper {
      padding: 2.125vw 0.625vw 0; } }
  @media only screen and (max-width: 990px) {
    .error-page__wrapper {
      flex-direction: column-reverse;
      padding-left: 0;
      padding-right: 0; } }
  @media only screen and (max-width: 500px) {
    .error-page__wrapper {
      padding-top: 2.9333333333333333vw; } }

@media only screen and (max-width: 1600px) {
  .error-page__image {
    width: 42vw;
    height: 39.3125vw; } }

@media only screen and (max-width: 990px) {
  .error-page__image {
    margin-top: 8.984375vw;
    width: 87.5vw;
    height: 81.9010416666666667vw; } }

.error-page__info {
  padding: 69px 0 0 38px; }
  @media only screen and (max-width: 1600px) {
    .error-page__info {
      padding: 4.3125vw 0 0 2.375vw; } }
  @media only screen and (max-width: 990px) {
    .error-page__info {
      padding: 10.2864583333333333vw 0 0 0; } }
  .error-page__info h3 {
    font-family: 'Proxima Nova Ex';
    color: #2b1b35;
    font-weight: bold;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 0.1px; }
    @media only screen and (max-width: 1600px) {
      .error-page__info h3 {
        font-size: 2.5vw;
        line-height: 2.75vw;
        letter-spacing: 0.00625vw; } }
    @media only screen and (max-width: 990px) {
      .error-page__info h3 {
        font-size: 4.6875vw;
        line-height: 5.7291666666666667vw; } }
    @media only screen and (max-width: 500px) {
      .error-page__info h3 {
        font-size: 5.3333333333333333vw;
        line-height: 6.6666666666666667vw; } }
    .error-page__info h3 span {
      display: block; }

.error-page__text {
  margin-top: 100px; }
  @media only screen and (max-width: 1600px) {
    .error-page__text {
      margin-top: 6.25vw; } }
  @media only screen and (max-width: 990px) {
    .error-page__text {
      margin-top: 13.0208333333333333vw; } }
  @media only screen and (max-width: 500px) {
    .error-page__text {
      margin-top: 13.0666666666666667vw; } }
  .error-page__text p {
    margin-bottom: 16px;
    letter-spacing: -0.12px;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    color: #2b1b35; }
    @media only screen and (max-width: 1600px) {
      .error-page__text p {
        margin-bottom: 1vw;
        letter-spacing: -0.0075vw;
        font-size: 1.25vw;
        line-height: 2vw; } }
    @media only screen and (max-width: 990px) {
      .error-page__text p {
        margin-bottom: 2.0833333333333333vw;
        font-size: 2.6041666666666667vw;
        line-height: 4.1666666666666667vw;
        letter-spacing: -0.01953125vw; } }
    @media only screen and (max-width: 500px) {
      .error-page__text p {
        margin-bottom: 3.2vw;
        font-size: 4.2666666666666667vw;
        line-height: 6.4vw; } }
    .error-page__text p span {
      font-family: 'Proxima Nova Ex';
      font-weight: 600; }

.error-page__nav {
  margin-top: 32px;
  max-width: 555px;
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 1600px) {
    .error-page__nav {
      max-width: 34.6875vw;
      margin-top: 2vw; } }
  @media only screen and (max-width: 990px) {
    .error-page__nav {
      margin-top: 4.1666666666666667vw;
      max-width: 72.265625vw; } }
  @media only screen and (max-width: 500px) {
    .error-page__nav {
      margin-top: 6.4vw;
      padding-left: 2vw;
      flex-direction: column; } }
  .error-page__nav-link {
    padding-left: 38px;
    margin-bottom: 17px;
    display: block;
    position: relative;
    color: #0049bc;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: -0.1px;
    transition: .5s; }
    @media only screen and (max-width: 1600px) {
      .error-page__nav-link {
        padding-left: 2.375vw;
        margin-bottom: 1.0625vw;
        font-size: 1.25vw;
        line-height: 2vw;
        letter-spacing: -0.00625vw; } }
    @media only screen and (max-width: 990px) {
      .error-page__nav-link {
        padding-left: 4.9479166666666667vw;
        margin-bottom: 2.0833333333333333vw;
        line-height: 4.1666666666666667vw;
        letter-spacing: -0.0130208333333333vw;
        font-size: 2.6041666666666667vw; } }
    @media only screen and (max-width: 500px) {
      .error-page__nav-link {
        padding-left: 6.9333333333333333vw;
        font-size: 4.2666666666666667vw;
        line-height: 6.4vw;
        margin-bottom: 3.2vw; } }
    .error-page__nav-link:hover {
      opacity: 0.8; }
    .error-page__nav-link:before {
      content: '•';
      position: absolute;
      left: 0; }

.thank-you__wrapper {
  padding-top: 34px;
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 1600px) {
    .thank-you__wrapper {
      padding-top: 2.125vw; } }
  @media only screen and (max-width: 990px) {
    .thank-you__wrapper {
      flex-direction: column-reverse;
      padding-left: 0;
      padding-right: 0; } }
  @media only screen and (max-width: 500px) {
    .thank-you__wrapper {
      padding-top: 2.9333333333333333vw; } }

.thank-you__image {
  width: 682px;
  height: 740px;
  margin-top: 40px; }
  @media only screen and (max-width: 1600px) {
    .thank-you__image {
      width: 42.625vw;
      height: 46.25vw;
      margin-top: 2.5vw; } }
  @media only screen and (max-width: 990px) {
    .thank-you__image {
      width: 88.8020833333333333vw;
      height: 96.3541666666666667vw;
      margin-top: 6.208333vw; } }

.thank-you__info {
  padding: 69px 0 0 38px; }
  @media only screen and (max-width: 1600px) {
    .thank-you__info {
      padding: 4.3125vw 0 0 2.375vw; } }
  @media only screen and (max-width: 990px) {
    .thank-you__info {
      padding: 10.2864583333333333vw 0 0 0; } }
  .thank-you__info > p {
    margin-top: 100px;
    letter-spacing: -0.12px;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    color: #2b1b35; }
    @media only screen and (max-width: 1600px) {
      .thank-you__info > p {
        margin-top: 6.25vw;
        letter-spacing: -0.0075vw;
        font-size: 1.25vw;
        line-height: 2vw; } }
    @media only screen and (max-width: 990px) {
      .thank-you__info > p {
        margin-top: 13.0208333333333333vw;
        font-size: 2.6041666666666667vw;
        line-height: 4.1666666666666667vw;
        letter-spacing: -0.0130208333333333vw; } }
    @media only screen and (max-width: 500px) {
      .thank-you__info > p {
        font-size: 4.2666666666666667vw;
        line-height: 6.4vw; } }
    .thank-you__info > p span {
      font-family: 'Proxima Nova Ex';
      font-weight: 600; }

.thank-you h3 {
  font-family: 'Proxima Nova Ex';
  color: #2b1b35;
  font-weight: bold;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 0.1px; }
  @media only screen and (max-width: 1600px) {
    .thank-you h3 {
      font-size: 2.5vw;
      line-height: 2.75vw;
      letter-spacing: 0.00625vw; } }
  @media only screen and (max-width: 990px) {
    .thank-you h3 {
      font-size: 4.6875vw;
      line-height: 5.7291666666666667vw; } }
  @media only screen and (max-width: 500px) {
    .thank-you h3 {
      font-size: 5.3333333333333333vw;
      line-height: 6.6666666666666667vw; } }

.thank-you__stock {
  margin-top: 40px;
  box-sizing: border-box;
  padding: 40px 50px 40px 40px;
  display: flex;
  justify-content: space-between;
  background-color: #f1f6ff;
  color: #2b1b35;
  letter-spacing: 0.2px; }
  @media only screen and (max-width: 1600px) {
    .thank-you__stock {
      margin-top: 2.5vw;
      padding: 2.5vw 3.125vw 2.5vw 2.5vw;
      letter-spacing: 0.0125vw; } }
  @media only screen and (max-width: 990px) {
    .thank-you__stock {
      margin-top: 5.2083333333333333vw;
      padding: 5.2083333333333333vw 6.5104166666666667vw 5.2083333333333333vw 5.2083333333333333vw;
      letter-spacing: 0.0260416666666667vw; } }
  @media only screen and (max-width: 500px) {
    .thank-you__stock {
      margin-top: 5.6vw;
      padding: 5.2083333333333333vw 5.204166666666667vw 5.2083333333333333vw 5.2083333333333333vw; } }
  .thank-you__stock-image {
    width: 80px;
    height: 80px; }
    @media only screen and (max-width: 1600px) {
      .thank-you__stock-image {
        width: 5vw;
        height: 5vw; } }
    @media only screen and (max-width: 990px) {
      .thank-you__stock-image {
        width: 10.4166666666666667vw;
        height: 10.4166666666666667vw; } }
    @media only screen and (max-width: 500px) {
      .thank-you__stock-image {
        width: 10.6666666666666667vw;
        height: 10.6666666666666667vw; } }
  .thank-you__stock_one .thank-you__stock-image {
    margin-top: -12px; }
    @media only screen and (max-width: 1600px) {
      .thank-you__stock_one .thank-you__stock-image {
        margin-top: -0.75vw; } }
    @media only screen and (max-width: 990px) {
      .thank-you__stock_one .thank-you__stock-image {
        margin-top: -1.5625vw; } }
    @media only screen and (max-width: 500px) {
      .thank-you__stock_one .thank-you__stock-image {
        margin-top: 0; } }
  .thank-you__stock_two {
    padding-bottom: 33px; }
    @media only screen and (max-width: 1600px) {
      .thank-you__stock_two {
        padding-bottom: 2.0625vw; } }
    @media only screen and (max-width: 990px) {
      .thank-you__stock_two {
        padding-bottom: 4.296875vw; } }
  .thank-you__stock h4 {
    font-size: 25px;
    font-family: 'Proxima Nova Ex';
    font-weight: bold;
    line-height: 28px;
    letter-spacing: -0.2px; }
    @media only screen and (max-width: 1600px) {
      .thank-you__stock h4 {
        font-size: 1.5625vw;
        line-height: 1.75vw; } }
    @media only screen and (max-width: 990px) {
      .thank-you__stock h4 {
        font-size: 3.2552083333333333vw;
        line-height: 3.6458333333333333vw;
        letter-spacing: -0.0260416666666667vw; } }
    @media only screen and (max-width: 500px) {
      .thank-you__stock h4 {
        font-size: 4.8vw;
        line-height: 6.4vw; } }
  .thank-you__stock p {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.1px; }
    @media only screen and (max-width: 1600px) {
      .thank-you__stock p {
        margin-top: 1.25vw;
        font-size: 16px;
        line-height: 1.5vw;
        letter-spacing: -0.00625vw; } }
    @media only screen and (max-width: 990px) {
      .thank-you__stock p {
        margin-top: 2.6041666666666667vw;
        font-size: 2.0833333333333333vw;
        line-height: 3.125vw;
        letter-spacing: -0.0130208333333333vw; } }
    @media only screen and (max-width: 500px) {
      .thank-you__stock p {
        max-width: 90%;
        font-size: 3.7333333333333333vw;
        line-height: 5.3333333333333333vw; } }
  .thank-you__stock-link {
    margin-left: 6px;
    font-family: 'Proxima Nova Ex';
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.35px;
    text-transform: uppercase;
    color: #0049bc;
    align-items: center;
    position: relative; }
    @media only screen and (max-width: 1600px) {
      .thank-you__stock-link {
        margin-left: 0.375vw;
        font-size: 0.75vw;
        letter-spacing: 0.084375vw; } }
    @media only screen and (max-width: 990px) {
      .thank-you__stock-link {
        margin-left: 0;
        font-size: 1.5625vw;
        letter-spacing: 0.17578125vw; } }
    @media only screen and (max-width: 500px) {
      .thank-you__stock-link {
        margin-left: 0.5333333333333333vw;
        font-size: 3.2vw;
        font-weight: bold;
        letter-spacing: 0.36vw; } }
    .thank-you__stock-link:after {
      content: '';
      top: 2px;
      right: -15px;
      margin: auto;
      position: absolute;
      width: 10px;
      height: 10px;
      background-image: url("../images/arrow-blue.svg");
      background-size: 100% 100%; }
      @media only screen and (max-width: 1600px) {
        .thank-you__stock-link:after {
          top: 0.125vw;
          right: -0.9375vw;
          width: 0.625vw;
          height: 0.625vw; } }
      @media only screen and (max-width: 990px) {
        .thank-you__stock-link:after {
          top: 0.2604166666666667vw;
          right: -1.953125vw;
          width: 1.3020833333333333vw;
          height: 1.3020833333333333vw; } }
      @media only screen and (max-width: 500px) {
        .thank-you__stock-link:after {
          top: 0.5333333333333333vw;
          right: -4vw;
          width: 2.6666666666666667vw;
          height: 2.6666666666666667vw; } }
